<div class="page-header">
  <h1>Art & Literary Products</h1>
</div>
<h1>Editing product</h1>
<%= render 'form' %>
<%= link_to 'View Product', product_path, class:'btn btn-sm btn-success' %> |
<%= link_to 'Back', product_path, class:'btn btn-sm btn-info' %>
